body {
    font-family: 'Roboto';
}

header,
section,
article,
footer {
    margin: 30px;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 30px;
    background-color: aquamarine;
}

.cat {
    height: 500px;
    width: 700px;
    margin: 30;
}

.dog {
    height: 500px;
    width: 700px;
    margin: 30;
}

.navbar {
    background-color: rgb(134, 0, 223);
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    
    // text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border-radius: 25px;
    transition: all 0.5s ease 0s;

    &:hover {
        color: gold;
        background-color: darkslategrey;
        scale: 120%;
    }
}

.navbar li {
    float: left;
}

footer {
    background-color: rgb(197, 197, 197);
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.about_us,
.our_resume {
    padding: 20px;
    background-color: aliceblue;
}

.workofart {
    height: 50%;
    width: 50%;
}

.mycontacts {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;

    li {
        float: left;
        padding: 10px;
        margin: 10px;
    }
}

.contact_info>p {
    padding-right: 20px;
    margin-right: 20px;
    // Here I did not know how to make that padding work
}

